/**/

/*Global Setting*/
#body-container{
  min-height: 100%;
  background-color: #c5cae9;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
}

body{
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
}

/* Clearfix */
.clearfix:after {
  display:block;
  clear:both;
}

/*Nav Bar*/
.top-nav{
  background-color: #283593;
  height: 12em;
  color: #fff;
  -webkit-box-shadow: 0 0 1.5em 1em #a9a9a9;
     -moz-box-shadow: 0 0 1.5em 1em #a9a9a9;
          box-shadow: 0 0 1.5em 1em #a9a9a9;
}

.nav-title{
  float: left;
}

.nav-title h1{
  font-size: 5em;
  padding: .35em 0 0 .5em;
  font-family: montez, serif;
  margin: 0;
}

.nav-title p{
  font-size: 1.2em;
  letter-spacing: .05em;
  margin: 0;
  padding-left: 3.6em;
}

nav ul{
  height: 12em;
  float: right;
  padding: .5em;
  width: 50%;
  text-align: center;
}

nav ul li{
  display: inline-block;
  padding: 3em 1em;
  font-size: 1.2em;
  text-transform: uppercase;
  position: relative;
}

.sub-menu {
  margin-top: .5em;
  height: 6.5em;
  width: 100%;
  position:absolute;
  left: -1em;
  z-index:-1;
  opacity:0;
  background:#3f51b5;
  padding: .5em;
  font-size: .75em;
  border-radius: .2em;
}

.sub-menu li{
  padding: .2em;
}

.menu li:hover .sub-menu{
  z-index:1;
  opacity:1;
}

.menu li:hover{
  padding-bottom: 0;
}

/* Homepage Styling */
.container{
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}

.img-resize{
  height: 38em;
  width: 63em;
  margin: 0 auto;
}

/*About Page Styling*/

.about-container{
  padding: 1em 4em;
  width: 65%;
  margin: 0 auto;
  background-color: #fff;
}

.about-container h1{
  text-transform: uppercase;
  font-size: 1.7em;
}

.about-container p{
  line-height: 1.6em;
  font-size: 1.2em;
}

.about-container a{
  color: #283593;
  font-weight: bold;
}

.about-container a:hover{
  text-decoration: underline;
}

/*Members Page*/
.members-container{
  width: 80%;
  margin: 0 auto;
  background: #7986cb;
  padding: 1em;
}

#members-title{
  text-transform: uppercase;
  margin-left: 1.7em;
}

.row{
  margin: 0 auto;
  padding: 1em;
}

#last-row{
  padding: 1em 10em;
}

/* CARDS */
/*Based on Google's Materialize Cards lines 4529-4663*/
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  margin: auto 2em;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

span.card-title.divina{
  font-size: 1.4em;
}

.right {
  float: right;
}

.card .card-title.activator {
  cursor: pointer;
}

.card.small, .card.medium, .card.large {
  position: relative;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 60%;
  overflow: hidden;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  max-height: 40%;
  overflow: hidden;
}

.card.small .card-action, .card.medium .card-action, .card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card.small {
  height: 300px;
}

.card.medium {
  height: 400px;
}

.card.large {
  height: 500px;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: inline-block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 17em;
  width: 16em;
}

.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content .card-title {
  line-height: 48px;
}

.card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
  z-index: 2;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 20px;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}

.card .card-action + .card-reveal {
  z-index: 1;
  padding-bottom: 64px;
}

.card .card-reveal {
  padding: 20px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}


/* Contact page */
#contact-pg{
  min-height: 36em;
}

span{
  color: #283593;
}

.connect-div{
  margin-top: 4em;
}

/* Shows */
#see-snp-title{
  text-transform: none;
  padding-top: .5em;
}

#upcoming-shows-title{
  margin: 2em 0 0;
  text-align: center;
}

.upcoming-shows{
  display: inline-block;
  width: 45%;
  text-align: center;
  margin: 1em;
  padding-bottom: 2.5em;
}

.upcoming-shows img{
  height: 30em;
  width: 22em;
}

/* Footer Styling */

#footer-wrapper{
  bottom: 0;
  height: 18.2em;
  width: 100%;
}

footer{
  background-color: #283593;
  color: #fff;
}

.footer-heading, .footer-links{
  display: inline-block;
  margin: 1em;
}

.footer-heading{
  width: 50%;
  padding: 1.5em 0 0 2em;
  float: left;
}

.footer-heading h1{
  font-family: montez, serif;
  font-size: 4em;
  margin: 0;
}

.footer-links{
  width: 30%;
}

.footer-links ul, .footer-links ul *{
  padding-left: 0;
}

.footer-links ul li a{
  color: #c5cae9;
}

.footer-copyright{
  background-color: #1a237e;
  padding: .25em 3em;
  line-height: 65%;
}

.footer-copyright a{
  color: #9fa8da;
}

nav ul li a:hover, .footer-copyright a:hover, .footer-links ul li a:hover{
  color: #8c9eff;
}

/*footer a:visited{
  color: #8c9eff;
  opacity: .8;
}*/
