/*Table of Contents*/

/*Global Settings*/

/*This setting helps the footer stick to the bottom of the browser window*/
#body-container{
  min-height: 100%;
  background-color: #c5cae9;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
}

body{
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
}

/* Clearfix */
.clearfix:after {
  display:block;
  clear:both;
}

/*Nav Bar*/
.top-nav{
  background-color: #283593;
  height: 12em;
  color: #fff;
  -webkit-box-shadow: 0 0 1.5em 1em #a9a9a9;
     -moz-box-shadow: 0 0 1.5em 1em #a9a9a9;
          box-shadow: 0 0 1.5em 1em #a9a9a9;
}

/*This is the content from the left-hand side of the Nav Bar*/
.nav-title{
  float: left;
}

.nav-title h1{
  font-size: 5em;
  padding: .35em 0 0 .5em;
  font-family: montez, serif;
  margin: 0;
}

.nav-title p{
  font-size: 1.2em;
  letter-spacing: .05em;
  margin: 0;
  padding-left: 3.6em;
}

/*This is the content from the right-hand side of the nav bar (page links)*/
nav ul{
  height: 12em;
  float: right;
  padding: .5em;
  width: 50%;
  text-align: center;
}

nav ul li{
  display: inline-block;
  padding: 3em 1em;
  font-size: 1.2em;
  text-transform: uppercase;
  position: relative;
}

/*Dropdown settings*/
.sub-menu {
  margin-top: .5em;
  height: 6.5em;
  width: 100%;
  position:absolute;
  left: -1em;
  z-index:-1;
  opacity:0;
  background:#3f51b5;
  padding: .5em;
  font-size: .75em;
  border-radius: .2em;
}

.sub-menu li{
  padding: .2em;
}

.menu li:hover .sub-menu{
  z-index:1;
  opacity:1;
}

.menu li:hover{
  padding-bottom: 0;
}



/* Homepage Styling */
.container{
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}

.img-resize{
  height: 38em;
  width: 63em;
  margin: 0 auto;
}

/* Homepage media queries */
@media screen (max-width: 1000px){
  .container{
    width: 100%;
  }
}

/*About Page Styling*/

.about-container{
  padding: 1em 4em;
  width: 65%;
  margin: 0 auto;
  background-color: #fff;
}

.about-container h1{
  text-transform: uppercase;
  font-size: 1.7em;
}

.about-container p{
  line-height: 1.6em;
  font-size: 1.2em;
}

.about-container a{
  color: #283593;
  font-weight: bold;
}

.about-container a:hover{
  text-decoration: underline;
}

/*Members Page*/

/*The container for the members page is wider than the other pages' containers
because the images look better in a wider container*/
.members-container{
  width: 80%;
  margin: 0 auto;
  background: #7986cb;
  padding: 1em;
  text-align: center;
}

#members-title{
  text-transform: uppercase;
}

.row{
  margin: 0 auto;
  padding: 1em;
}


.former-members{
  text-align: center;
  margin: 4em 0 2em;
}

.former-members p{
  font-size: 1.2em;
}

#founding-members{
  font-size: .8em;
  color: #000;
}

/* CARDS */
/*Based on Google's Materialize Cards from the Materialize docs lines 4529-4663*/
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  margin: auto 2em;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

/*Divina's name is long, so this resizes the font size of her name*/
span.card-title.divina{
  font-size: 1.4em;
}

.right {
  float: right;
}

.card .card-title.activator {
  cursor: pointer;
}

.card.small, .card.medium, .card.large {
  position: relative;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 60%;
  overflow: hidden;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  max-height: 40%;
  overflow: hidden;
}

.card.small .card-action, .card.medium .card-action, .card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card.small {
  height: 300px;
}

.card.medium {
  height: 400px;
}

.card.large {
  height: 500px;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: inline-block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 17em;
  width: 16em;
}

.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content .card-title {
  line-height: 48px;
}

.card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
  z-index: 2;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 20px;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}

.card .card-action + .card-reveal {
  z-index: 1;
  padding-bottom: 64px;
}

.card .card-reveal {
  padding: 20px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}


/* Contact page */
#contact-pg{
  min-height: 36em;
}

span{
  color: #283593;
}

.connect-div{
  margin-top: 4em;
}

/* Shows */
#see-snp-title{
  text-transform: none;
  padding-top: .5em;
}

#upcoming-shows-title{
  margin: 2em 0 0;
  text-align: center;
}

.upcoming-shows{
  display: inline-block;
  width: 45%;
  text-align: center;
  margin: 1em;
  padding-bottom: 2.5em;
}

.upcoming-shows img{
  height: 30em;
  width: 22em;
}

/*Media Page*/

.about-container.media-page{
  min-height: 40em;
}

/* Footer Styling */

#footer-wrapper{
  bottom: 0;
  height: 18.2em;
  width: 100%;
}

footer{
  background-color: #283593;
  color: #fff;
}

.footer-heading, .footer-links{
  display: inline-block;
  margin: 1em;
}

.footer-heading{
  width: 50%;
  padding: 1.5em 0 0 2em;
  float: left;
}

.footer-heading h1{
  font-family: montez, serif;
  font-size: 4em;
  margin: 0;
}

.footer-links{
  width: 30%;
}

.footer-links ul, .footer-links ul *{
  padding-left: 0;
}

.footer-links ul li a{
  color: #c5cae9;
}

.footer-copyright{
  background-color: #1a237e;
  padding: .25em 3em;
  line-height: 65%;
}

.footer-copyright a{
  color: #9fa8da;
}

/*This sets the hover state of <a> tags for the top nav and the footer <a> tags*/
nav ul li a:hover, .footer-copyright a:hover, .footer-links ul li a:hover{
  color: #8c9eff;
}

/* MEDIA QUERIES */
/* Nav bar media queries larger to smaller screen size */

@media screen and (min-width: 931px) and (max-width: 1000px){
  /* decrease height of nav bar as width shrinks */
  .top-nav{
    height: 10em;
  }

  .nav-title{
    width: 35%;
  }

  .nav-title h1{
    font-size: 3.4em;
    padding: .5em 0 0 1em;
  }

  .nav-title p{
    padding: .75em 0 0 4.5em;
    font-size: .9em;
  }

  nav ul{
    width: 60%;
  }

}

/* CONTENT CONTAINERS */
  /* remove gutters */

@media screen and (max-width: 1000px){
  .members-container {
    width: inherit;
    margin: 0;
    overflow: hidden;
  }
}

/* iPad size to 930px width browser window */
@media screen and (max-width: 930px){
  /* RESPONSIVE NAVBAR */
  .top-nav{
    height: 9em;
  }

  nav ul{
    width: 55%;
    padding: .6em .8em;
  }

  .nav-title{
    padding-left: 1em;
    margin: 0 auto;
  }

  .nav-title h1{
    font-size: 2.8em;
    padding: .6em 0 0 1em;
  }

  .nav-title p{
    padding: .5em 0 0 2.5em;
    font-size: .9em;
  }

  ul{
    padding: 0;
  }

  nav ul li{
    padding: 2.5em 1em;
    font-size: 1em;
  }

  /* about-the-collective responsive stuff */
  .about-container {
    width: inherit;
    margin: 0;
    padding: 0 3em;
  }

  .about-container h1 {
    padding-top: 1.5em;
    margin: 0;
  }

  #body-container {
    background-color: #fff;
  }

}

 /* screens smaller than iPads */
@media screen and (max-width: 765px){
  #body-container {
    overflow: hidden;
  }

  /* about the collective */
  .about-container h1 {
    padding-top: 2.8em;
    text-align: center;
  }

  /* RESPONSIVE NAVBAR */
  .top-nav{
    height: 8em;
  }

  .nav-title{
    text-align: center;
    padding: 0 0 1em;
  }

  .nav-title > * {
    width: 100%;
    padding: 1em;
  }

  .nav-title p {
    letter-spacing: .08em;
    padding-left: 3.2em;
  }

  nav ul {
    width: 100%;
    display: block;
    margin: 0 0  1em;
    padding: 0;
    background-color: #3F51B5;
    height: 3em;
  }

  nav ul li{
    padding: 1em;
  }

  /* RESPONSIVE FOOTER */
   #footer-wrapper{
    height: auto;
  }

  .footer-heading {
    padding: 1em 0 0 2em;
    width: auto;
    float: none;
    margin: 0;
  }

  .footer-heading h1 {
    font-size: 2.5em;
  }

  .footer-heading p {
    margin: .5em 0;
  }

  .footer-links {
    width: auto;
    padding: 0 0 .3em 2em;
    margin: 0;
    display: block;
  }

  .footer-links h2 {
    display: none;
  }

  .footer-links ul {
    margin-top: .2em;
  }

  .footer-links ul * {
    margin: 1em 0;
    line-height: 65%;
  }

  .footer-copyright{
    padding: .25em 2em;
  }

}

/*more mobile nav resizing*/
@media screen and (max-width: 419px){

  .top-nav{
    text-align: center;
  }

  .nav-title {
    float: none;
  }

  .nav-title h1{
    padding: .35em 0 0 0;
  }

  .nav-title p {
    padding: .5em 0 0 0;
  }

  nav ul li {
    font-size: .9em;
  }

}

/*more mobile nav resizing*/
@media screen and (max-width: 360px){
  nav ul {
    height: 2.5em;
  }

  nav ul li {
    padding: .8em;
    font-size: .8em;
  }

}


/*footer a:visited{
  color: #8c9eff;
  opacity: .8;
}*/


/* Materialize Functionality Copyright Notice:
// * Open source under the BSD License.
//  *
//  * Copyright © 2001 Robert Penner
//  * All rights reserved.
//  *
//  * Redistribution and use in source and binary forms, with or without modification,
//  * are permitted provided that the following conditions are met:
//  *
//  * Redistributions of source code must retain the above copyright notice, this list of
//  * conditions and the following disclaimer.
//  * Redistributions in binary form must reproduce the above copyright notice, this list
//  * of conditions and the following disclaimer in the documentation and/or other materials
//  * provided with the distribution.
//  *
//  * Neither the name of the author nor the names of contributors may be used to endorse
//  * or promote products derived from this software without specific prior written permission.
//  *
//  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY
//  * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
//  * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
//  *  COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
//  *  EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
//  *  GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED
//  * AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
//  *  NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
//  * OF THE POSSIBILITY OF SUCH DAMAGE.
//  *
//  */
